.statHeading{
    width: 28%;
    margin-left: 10%;
}
.sideBox{
    margin-top: 40vh;
    width: 140px;
    position: fixed;
    z-index: 999999;
    color: white;
}
.sideBox1{
    width: 110px;
    height: 50px;
    justify-content: space-evenly;
    background-color: #505050;
    margin-left: -70px;
}
.sideBox1:hover{
    margin-left: -10px;
    transition: 0.5s;
    border-radius: 10px;
}
.sideBox2{
    font-size: 25px;
    padding-top: 5px;
}
.contact{
    height: auto;
    background: linear-gradient(180deg, rgba(25,30,32) 16%, rgba(0,0,0,1) 54%, 
    rgb(25,30,32) 99%);
    padding-top: 55px;
    margin-top: -5px;
}
.calender-dark{
    background: linear-gradient(180deg, rgba(29,36,38) 16%, rgba(0,0,0,1) 54%, 
    rgb(25,30,32) 99%);
    padding-top: 30px;
    color: white;
    padding: 15px;
}
.statbox1-dark{
    background-color: black;
    color: white;
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
    width: 40%;
    margin: auto;
    box-shadow: rgba(255, 255, 255, 0.24) 0px 3px 8px;
    border-radius: 10px;
    margin-top: 30px;
    box-shadow: rgb(0 0 0 / 5%) 0px 1px 2px, rgb(224 17 17 / 8%) 0px 2px 4px, rgba(23, 192, 234, 0.83) 0px 4px 8px, rgba(37, 194, 247, 0.7) 0px 8px 16px, rgb(242 15 15 / 0%) 0px 16px 32px, rgb(255 6 6 / -45%) 0px 32px 64px;
}
.statbox1-dark:hover{
    box-shadow: rgb(0 0 0 / 5%) 0px 1px 2px, rgb(224 17 17 / 8%) 0px 2px 4px, rgba(23, 192, 234, 0.83) 0px 4px 8px, rgba(37, 194, 247, 0.7) 0px 8px 16px, rgb(242 15 15 / 0%) 0px 16px 32px, rgb(255 6 6 / -45%) 0px 32px 64px; 
    transform: scale(1.1);
    transition: 3s;
}
.statBox-dark{
    margin-top: 50px;
}
.calanderBox{
    width: 70%;
    margin: auto;
    padding-bottom: 30px;
}


@media only screen and (max-width: 640px) {
.statHeading{
    width: 80%;
    margin: auto;
}
.statBox1{
   width: 80%;
   margin: auto;
   padding: 10px;
   margin: auto;
}
.box{
    display: none;
}
.box2{
    padding-top: 10px;
    margin-top: 0px;
}
.contact{
    width: 100vw;
}
.calendarImages-dark{
    width: 85vw;
    margin: 10px;
}
.calender-dark{
    width: 100;
}
.statBox-dark{
    display: block;
    width: 80%;
    margin: auto;
}
.statbox1-dark{
    width: 75%;
    margin: auto;
    padding: 10px;
    margin: 30px;
}
.contact-dark{
    width: 100vw;
}

}