.Project_Box-dark{
    background: linear-gradient(180deg, rgba(29,36,38) 16%, rgba(0,0,0,1) 54%, 
    rgb(29,36,38) 99%);
    margin-top: -20px;
    padding-top: 70px;
    color: white;
    border-top-right-radius: 20px;
}
.project_image-dark{
    width: 100%;
    margin: 0px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.Project_image-dark{
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    margin: 0px;
}
.Project_image-dark:hover{
    transform: scale(1.1);
    border-radius: 0px;
    transition: 1s;
}
.Project_box_grid-dark{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 80%;
    margin: auto;
}
.Project_Box3-dark{
    width: 80%;
    margin: auto;
    background-color: black;
    border: 2px solid black;
    margin: 20px auto 20px auto;
    border-radius: 20px;
    box-shadow: rgba(175, 175, 175, 0.35) 0px 5px 15px;
    padding-bottom: 20px;
}
.TechStackHeading-dark{
    margin: 0px;
}
.techStackBox-dark{
    font-size: 30px;
    display: none;
}
.project_desc_box-dark{
    margin-left: auto;
    color: white;
}
.descBox2-dark{
    width: 85%;
    margin: auto;
    font-size: 18px;
    height: 90px;
}
.liveButton-dark{
    border-radius: 6px;
    font-size: 16px;
    padding: 10px;
    color: white;
    cursor: pointer;
    width: 95px;
    margin: 5px;
    border: 2px solid blue;
    background-color: black;
}
.liveButton-dark:hover{
    background-color: blue;
    color: white;
}





/* ******************** */


@media only screen and (max-width: 640px) {

.Project_box_grid-dark{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width: 80%;
        margin: auto;
}
.Project_Box-dark{
    width: 100vw;
}
.project_desc_box{
    margin-top: 0px;
    margin: auto;
}
.project_image{
    width: 80%;
    margin: auto;
    height: 180px;
}
.project_image-dark{
    width: 100%;
    margin: auto;
    height: 180px;
}
  
}

@media only screen and (min-width: 640px) and (max-width:1024px){

.Project_box_grid-dark{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 80%;
        margin: auto;
}

}