.Navbar_box{
  background-image: linear-gradient(to right,rgb(249, 227, 227),white,rgb(243, 218, 218));
  height: 60px;
  position: fixed;
  width: 100%;
  z-index: 200;
}
.Link_btns{
  cursor: pointer;
  margin-bottom: 10px;
  display: inline-block;
}
.Link_btns::after{
  content: '';
  display: block;
  width: 0;
  height: 2px;
  transition:3s;
  transition: width .3s;
  background: #000;
}

.Link_btns:hover::after{
  width: 100%;
}

.HeaderArea{
  display: flex;
  gap: 50px;
  margin-top: 0px;
  padding-top: 90px;
  background-image: linear-gradient(to right 
  ,white,#edfefe,white,#edfefe,white);
}
.photo_image{
  border: 2px solid black;
  border-radius: 50%;
  height: 300px;
  margin-top: 50px;
  margin-left: 10px;
}
.About_image{
  height: 300px;
  margin-top: 50px;
  margin-left: 90px;
  padding-top: 20px;
}
.Hello_Style{
  background-color: blue;
  width: 70px;
  padding: 5px;
  color: white;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}
.About_style{
  background-image: linear-gradient(to right ,white,#edfefe,white,#edfefe,white);
  margin-top: -20px;
}

.Skills_btn{
  background-color: white;
  padding: 9px;
  font-size: 13px;
  border: 1px solid black;
  border-radius: 10px;
}
.Resume_btn{
  padding: 10px;
  border-radius: 20px;
  margin-top: 15px;
  color:white;
  background-color: blue;
  border:2px solid blue;
  font-size:15px
}

.Project_box{
  width: 70%;
  background-color: white;
  /* background-image: linear-gradient(to right ,white,#edfefe,white,#edfefe,white); */
  border: 2px solid aqua;
  margin: 20px auto 20px auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.techStackBox{
  border: 2px solid aqua;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* padding: 5px; */
  font-size: 40px;
  margin: 0px 5px 10px 0px;
  width: 55px;
}
.project_desc_box{
  /* border: 2px solid black; */
  justify-content: space-around;
  padding: 10px;
}
.ArrowStyle{
  font-size: 43px;
  border-radius: 50%;
  background-color: aquamarine;
  color: white;
  border: 1px solid aqua;
}