.App{
  background-image: linear-gradient(to right ,white,#edfefe,white,#edfefe,white);
}
.Navbar_box{
  background-image: linear-gradient(to right,rgb(249, 227, 227),white,rgb(243, 218, 218));
  height: 60px;
  position: fixed;
  width: 100%;
  z-index: 200;
  display: inline;
}
.navbar_line{
  height: 5px;
  background-color: white;
  width: 0;
  transition: 1ms;
}
.Link_btns{
  cursor: pointer;
  margin-bottom: 10px;
  display: inline-block;
}
.Link_btns::after{
  content: '';
  display: block;
  width: 0;
  height: 2px;
  transition:3s;
  transition: width .3s;
  background: #000;
}
.HeaderArea{
  display: flex;
  gap: 80px;
  margin-top: 0px;
  opacity: 100%;
  padding: 20px;
  padding-top: 90px;
  background-image: linear-gradient(to right 
  ,white,#edfefe,white,#edfefe,white);
}
.icons{
  font-size: 60px;
}
.photo_image{
  border: 2px solid black;
  border-radius: 50%;
  height: 300px;
  margin-top: 50px;
}
.About_box{
  width: 70%;
  margin: auto;
  padding: 20px;
  margin-top: -5px;
  font-size: 20px;
}
.Hello_Style{
  background-color: blue;
  width: 70px;
  padding: 5px;
  color: white;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}
.box{
  width: 200px;
  height: 200px;
  border-radius: 20px;
  z-index: 9;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  text-align: center;
  background-color: white;
  position: relative;
}
.box:hover{
  transform: scale(0.9)
}
.Resume_btn{
  padding: 10px;
  border-radius: 5px;
  margin-top: 15px;
  color:white;
  background-color: blue;
  border:2px solid blue;
  cursor: pointer;
  font-size:15px
}
.Resume_btn:hover{
  transform: scale(1.1)
}

.npmhover:hover{
  box-shadow: rgb(0 0 0 / 5%) 0px 1px 2px, rgb(224 17 17 / 8%) 0px 2px 4px, rgb(235 16 16 / 83%) 0px 4px 8px, rgb(234 27 25 / 70%) 0px 8px 16px, rgb(242 15 15 / 0%) 0px 16px 32px, rgb(255 6 6 / -45%) 0px 32px 64px;
}
.javascripthover:hover{
  box-shadow: rgb(0 0 0 / 5%) 0px 1px 2px, rgb(224 17 17 / 8%) 0px 2px 4px, rgba(199, 239, 18, 0.83) 0px 4px 8px, rgba(207, 245, 13, 0.7) 0px 8px 16px, rgb(242 15 15 / 0%) 0px 16px 32px, rgb(255 6 6 / -45%) 0px 32px 64px;
}
.csshover:hover{
  box-shadow: rgb(0 0 0 / 5%) 0px 1px 2px, rgb(224 17 17 / 8%) 0px 2px 4px, rgba(18, 55, 239, 0.83) 0px 4px 8px, rgba(39, 36, 237, 0.7) 0px 8px 16px, rgb(242 15 15 / 0%) 0px 16px 32px, rgb(255 6 6 / -45%) 0px 32px 64px; 
}
.reacthover:hover{
  box-shadow: rgb(0 0 0 / 5%) 0px 1px 2px, rgb(224 17 17 / 8%) 0px 2px 4px, rgba(23, 192, 234, 0.83) 0px 4px 8px, rgba(37, 194, 247, 0.7) 0px 8px 16px, rgb(242 15 15 / 0%) 0px 16px 32px, rgb(255 6 6 / -45%) 0px 32px 64px; 
}
.reduxhover:hover{
  box-shadow: rgb(0 0 0 / 5%) 0px 1px 2px, rgb(224 17 17 / 8%) 0px 2px 4px, rgba(109, 12, 237, 0.83) 0px 4px 8px, rgba(153, 18, 237, 0.7) 0px 8px 16px, rgb(242 15 15 / 0%) 0px 16px 32px, rgb(255 6 6 / -45%) 0px 32px 64px;  
}
.nodehover:hover{
  box-shadow: rgb(0 0 0 / 5%) 0px 1px 2px, rgb(224 17 17 / 8%) 0px 2px 4px, rgba(12, 237, 50, 0.83) 0px 4px 8px, rgba(22, 237, 18, 0.7) 0px 8px 16px, rgb(242 15 15 / 0%) 0px 16px 32px, rgb(255 6 6 / -45%) 0px 32px 64px;
}
.githubhover:hover{
  box-shadow: rgb(0 0 0 / 5%) 0px 1px 2px, rgb(224 17 17 / 8%) 0px 2px 4px, rgba(0, 0, 0, 0.83) 0px 4px 8px, rgba(13, 13, 13, 0.7) 0px 8px 16px, rgb(242 15 15 / 0%) 0px 16px 32px, rgb(255 6 6 / -45%) 0px 32px 64px;
}

.ArrowStyle{
  font-size: 43px;
  padding: 0px;
  border-radius: 15%;
  background-color:grey;
  color: black;
  border: none;
}
.boxa{
  display: none;
  gap: 84px;
  width: 88%;
  margin: auto;
  margin-left: 145px;
  margin-top: 0px;
  position: absolute;
}
.box2{
  height: 310px;
  background-image: linear-gradient(to right ,white,#92e2e2,#5fc6e5,#44dede,white);
  padding-top: 110px;
}
.box2a{
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-left: 80px;
}
.box2aInput{
  margin: 15px;
  padding: 10px;
  border-radius: 10px;
}
.About_style-dark{
  background: linear-gradient(180deg, rgba(30,53,58) 16%, rgba(18,18,18) 54%,
   rgba(29,36,38) 99%);
  color: white;
  padding-top: 70px;
}
.HeaderArea-dark{
  background: linear-gradient(180deg, rgba(1,0,7) 16%, rgba(0,0,0,1) 54%,
   rgba(30,53,58) 99%);
  display: flex;
  gap: 80px;
  margin-top: 0px;
  padding: 20px;
  padding-top: 90px;
  color: white;
  animation: fadeIn 15s;
  transition: opacity 1s ease;
}
.Navbar_box-dark{
  background: linear-gradient(180deg, rgba(2,1,13) 16%, rgba(0,0,0,1) 54%, rgb(0, 0, 0) 99%);
  color: white;
  height: 60px;
  position: fixed;
  width: 100%;
  z-index: 200;
  display: inline;
}
.Link_btns-dark{
  cursor: pointer;
  margin-bottom: 10px;
  display: inline-block;
}
.Link_btns-dark::after{
  content: '';
  display: block;
  width: 0;
  height: 2px;
  transition: width .3s;
  background: rgb(250, 250, 250);
}
.Link_btns-dark:hover::after{
  width: 100%;
}
.box-dark{
  color: white;
  background-color: black;
  width: 200px;
  height: 200px;
  border-radius: 20px;
  z-index: 9;
  box-shadow: rgba(255, 255, 255, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  text-align: center;
  position: relative;
}
.box:hover{
  transform: scale(0.9)
}
.box2-dark{
  height: 310px;
}
.HeaderArea2{
  color: white;
}
.mainHeading{
  color: white;
  font-size: 60px;
}
.profileBx1{
  width: 60%;
  
}
.lastBox{
  width: 30%;
  margin: auto;
  color: white;
  margin-top: -20px;
}
.lastBox2{
  margin-top: 110px;
  font-size: 45px;
}
.footerLogo{
  color: white;
}
.footerLogo:hover{
  /* animation: fadeUP 1s; */
  transform: scale(1.4);
  transition: 0.1s;
  /* transition: opacity 1s ease; */
}











/* *********************  Optimization  ************************** */





@media only screen and (max-width: 640px) {
.mainHeading{
  font-size: 45px;
}
.profileBx1{
  width: 45%;
}
.icons{
  margin-top: 10px;
  width: 50%;
  margin-left: -50px;
}
.HeaderArea{  
  gap: 28px;
}
.About_box{
  width: 80%;
}
.HeaderArea-dark{  
  gap: 0px;
  width: 100;
}
.HeaderArea2{
  width: 50%;
}
.About_style-dark{
  width: 100vw;
  margin: auto;
  margin-top: -5px;
}
.photo_image{
  height: 200px;
}
.lastBox2{
  margin-top: 0px;
  font-size: 25px;
  /* gap: 5px; */
}
.box2a{
  margin-left: 10px;
  width: 50%;
}

}