.Navbar_box{
  background-image: linear-gradient(to right,rgb(249, 227, 227),white,rgb(243, 218, 218));
}

.HeaderArea{
  display: flex;
  gap: 50px;
  margin-top: 0px;
  padding-top: 25px;
  background-image: linear-gradient(to right 
  ,white,#edfefe,white,#edfefe,white);
}
.photo_image{
  border: 2px solid black;
  border-radius: 50%;
  height: 300px;
  margin-top: 50px;
}
.Hello_Style{
  background-color: blue;
  width: 70px;
  padding: 5px;
  color: white;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}